.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.product-img > a > img {
  width: 100%;
  height: 100%;
}
.product-img > a {
  display: inline-block;
  width: 100%;
  height: 220px;
  min-width: 150px;
}


.product-item {
  overflow: hidden;
  border-radius: var(--radius-4);
  -webkit-border-radius: var(--radius-4);
  -moz-border-radius: var(--radius-4);
  -ms-border-radius: var(--radius-4);
  -o-border-radius: var(--radius-4);
  transition: var(--transition-4);
  -webkit-transition: var(--transition-4);
  -moz-transition: var(--transition-4);
  -ms-transition: var(--transition-4);
  -o-transition: var(--transition-4);
  background-color: var(--white);
}

.product-img {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background: #f6f6f6;
  z-index: 1;
}

.product-item .product-img {
  position: relative;
  z-index: 1;
}



.product-img > a img {
  transition: var(--transition-4);
  -webkit-transition: var(--transition-4);
  -moz-transition: var(--transition-4);
  -ms-transition: var(--transition-4);
  -o-transition: var(--transition-4);
}
.product-item .product-img a img {
  -o-object-fit: cover;
  object-fit: cover;
  transition: 0.4s ease-in-out;
}

.quick-view {
  position: absolute;
  bottom: -20%;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 1;
  visibility: hidden;
  transition: var(--transition-4);
  -webkit-transition: var(--transition-4);
  -moz-transition: var(--transition-4);
  -ms-transition: var(--transition-4);
  -o-transition: var(--transition-4);
  z-index: 1;
}

.product-item .product-img::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: 0.55s ease;
  transform: translateY(-40%);
}

.offer-tag {
  position: absolute;
  top: 0.7rem;
  left: 0;
  font-size: 1rem;
  line-height: 1;
  background: var(--primary);
  color: var(--text-primary);
  padding: 0.3rem 1rem;
  border-radius: 0 2rem 2rem 0;
  -webkit-border-radius: 0 2rem 2rem 0;
  -moz-border-radius: 0 2rem 2rem 0;
  -ms-border-radius: 0 2rem 2rem 0;
  -o-border-radius: 0 2rem 2rem 0;
  transform: translateX(0%);
  transition: var(--transition-5);
}

.product-info {
  padding: 1rem;
}

.product-title {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.4rem;
}
.product-title > a {
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: var(--transition-3);
}

.priceAndRatting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0;
  gap: 1.5rem;
}

.product-price > span {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--primary);
}

.product-price > del {
  font-size: 1.5rem;
  color: var(--gray-3);
}

.product-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem !important;
}

.buy-now-icon svg {
  width: 14px;
  fill: var(--primary);
}
.buy-now .buy-now-icon svg {
  width: 16px;
  fill: var(--primary);
  transition: var(--transition-4);
}

.buy-now::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 100%;
  width: 100%;
  min-height: 100%;
  transition: var(--transition-2);
  background-color: var(--primary);
  z-index: -1;
}

.buy-now-icon {
  margin-right: 0.5rem;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: 0;
  font-family: var(--font-primary);
}

.heart-btn {
  font-size: 1.6rem;
  color: var(--primary);
}

/* Responsive */

@media only screen and (min-width: 320px) {
  .offer-tag {
    top: 0.5rem;
    padding: 0.3rem 0.6rem;
    font-size: 1.2rem;
  }
  .product-info {
    padding: 1.5rem;
    font-size: 1.5rem;
  }
  .product-title {
    font-size: 1.3rem;
  }
  .priceAndRatting {
    align-items: flex-start;
    padding: 0.8rem 0 2rem 0;
    row-gap: 1.5rem;
    flex-direction: column;
    gap: 1.5rem;
  }
  .product-price {
    line-height: 1;
  }
  .product-price > span {
    font-size: 1.3rem;
  }
  .product-price > del {
    font-size: 1rem;
  }
  .product-action {
    margin-top: 0 !important;
  }
  .heart-btn {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 425px) {
  .product-info {
    padding: 1.5rem;
  }
}
@media only screen and (min-width: 600px) {
  .product-price > del {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 768px) {
  .g-md-4,
  .gy-md-4 {
    --bs-gutter-y: 2rem;
  }
  .g-md-4,
  .gx-md-4 {
    --bs-gutter-x: 2rem;
  }

  .product-title {
    font-size: 1.4rem;
  }
  .priceAndRatting {
    align-items: flex-start;
    gap: 1.5rem;
    padding: 0.8rem 0 2rem 0;
    row-gap: 1.5rem;
  }
  .heart-btn {
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}

@media only screen and (min-width: 992px) {
  .offer-tag {
    top: 1rem;
    padding: 0.6rem 1rem;
    font-size: 1.5rem;
  }
  .product-info {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product-title {
    font-size: 1.5rem;
    font-weight: 600 !important;
  }
  .product-title > a {
    -webkit-line-clamp: 1;
    line-clamp: 1;
  }
  .priceAndRatting {
    padding: 1.3rem 0 2rem 0;
    row-gap: 1.5rem;
  }
  .product-price > span {
    font-size: 1.6rem;
  }
  .product-price > del {
    font-size: 1.4rem;
  }
}

@media (min-width: 1200px) {
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
}
