:root {
  --primary: #e40046;
  --secondary: #094966;
  --text-primary: #fff !important;
  --primary-light: rgba(228, 0, 70, 0.05) !important;
  --secondary-light: rgba(9, 73, 102, 0.2) !important;
}
:root {
  --primary: rgb(228, 0, 70);
  --text-primary: #ffffff;
  --primary-light: rgba(228, 0, 70, 0.05);
  --primary-light-2: rgba(228, 0, 70, 0.088);
  --primary-light-border: rgba(228, 0, 70, 0.2);
  --secondary: rgb(255, 122, 0);
  --secondary-light: rgba(255, 122, 0, 0.2);
  --gray-1: #080808;
  --gray-2: #555555;
  --gray-3: #828282;
  --gray-4: #e4e4e4;
  --gray-5: #e0e0e0;
  --gray-6: #f2f2f2;
  --gray-7: #ededede7;
  --white-light: rgba(255, 255, 255, 0.2);
  --white: #ffffff;
  --shadow-1: rgba(0, 0, 0, 0.02) 0 0.1rem 0.3rem 0,
    rgba(27, 31, 35, 0.15) 0 0 0 0.1rem;
  --shadow-2: rgba(0, 0, 0, 0.05) 0 0.6rem 2.4rem 0,
    rgba(0, 0, 0, 0.05) 0 0 0 0.1rem;
  --radius-4: 0.4rem;
  --radius-8: 0.8rem;
  --radius-12: 1.2rem;
  --radius-16: 1.6rem;
  --radius-50: 50%;
  --transition-2: all 0.25s ease-in-out;
  --transition-3: all 0.3s ease-in-out;
  --transition-4: all 0.4s ease-in-out;
  --transition-5: all 0.5s ease-in-out;
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --vz-body-font-size: 1.6rem;
}
.badge {
  --bs-badge-padding-x: 0.65em;
  --bs-badge-padding-y: 0.35em;
  --bs-badge-font-size: 0.75em;
  --bs-badge-font-weight: 700;
  --bs-badge-color: #fff;
  --bs-badge-border-radius: var(--bs-border-radius);
  display: inline-block;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
  line-height: 1;
  color: var(--bs-badge-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--bs-badge-border-radius);
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #f1f4f6 !important;
  color: var(--gray-2);
  font-family: var(--font-primary);
  font-size: var(--ig-body-font-size);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  font-size: 15px;
  overflow-x: hidden;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

p,
span,
small {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-family: var(--font-secondary) !important;
  color: var(--gray-1);
  font-weight: 700;
}

p,
span,
small {
  margin-bottom: 0 !important;
}

ul,
ol,
li {
  list-style-type: none;
  padding: 0 !important;
  margin: 0;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

section {
  position: relative;
}

button,
select {
  text-transform: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: 0;
  font-family: var(--font-primary);
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

.fs-14 {
  font-size: 14px !important;
}
.Container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.wave-btn {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button,
select {
  text-transform: none;
}

.pb-80 {
  padding-bottom: 50px;
}

.Container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.g-4,
.gx-4 {
  --bs-gutter-x: 2rem;
}
.g-4,
.gy-4 {
  --bs-gutter-y: 2rem;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.d-none {
  display: none !important;
}

.px-25 {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}

.py-15 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.gap-4 {
  gap: 1.5rem !important;
}
.ms-2 {
  margin-left: 0.5rem !important;
}
.text-muted {
  --bs-text-opacity: 1;
  color: var(--bs-secondary-color) !important;
}
.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
.fs-12 {
  font-size: 12px !important;
}
.badge {
  padding: 0.6rem 0.7rem;
  font-size: 1.1rem;
  font-weight: 400;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: 0;
  font-family: var(--font-primary);
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

img,
svg {
  vertical-align: middle;
}

.flex-column {
  flex-direction: column !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.gap-3 {
  gap: 1rem !important;
}

.fs-14 {
  font-size: 14px !important;
}

.g-2,
.gx-2 {
  --bs-gutter-x: 1rem;
}

.g-2,
.gy-2 {
  --bs-gutter-y: 1rem;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

@media only screen and (min-width: 320px) {
  .Container {
    max-width: 100%;
  }
}
@media only screen and (min-width: 425px) {
  .Container {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .g-2,
  .gy-2 {
    --bs-gutter-y: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .g-md-4,
  .gy-md-4 {
    --bs-gutter-y: 2rem;
  }
  .g-md-4,
  .gx-md-4 {
    --bs-gutter-x: 2rem;
  }
  .pt-80 {
    padding-top: 80px;
  }
  .pb-80 {
    padding-bottom: 80px;
  }
  .Container {
    max-width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .Container {
    max-width: 98rem;
  }
}

@media (min-width: 992px) {
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667% !important;
  }
  .justify-content-lg-start {
    justify-content: flex-start !important;
  }
}

@media (min-width: 1200px) {
  .Container {
    max-width: 118rem;
  }

  .h3,
  h3 {
    /* font-size: 1.75rem; */
  }
}

@media only screen and (min-width: 1400px) {
  .Container {
    max-width: 142rem;
  }
}

@media only screen and (min-width: 1600px) {
  .Container {
    max-width: 156rem;
  }
}

.pt-80 {
  padding-top: 50px;
}

.pb-80 {
  padding-bottom: 50px;
}
.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid;
  border-color: #dbdcef;
  border-right-color: #474bff;
  animation: spinner-d3wgkg 1s infinite linear;
}

@keyframes spinner-d3wgkg {
  to {
    transform: rotate(1turn);
  }
}
