button,
select {
  text-transform: none;
}

.pb-80 {
  padding-bottom: 50px;
}

.Container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.g-4,
.gx-4 {
  --bs-gutter-x: 2rem;
}
.g-4,
.gy-4 {
  --bs-gutter-y: 2rem;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.d-none {
  display: none !important;
}

.card {
  border: 0.1rem solid var(--gray-6);
  border-radius: var(--radius-4);
  overflow: hidden;
}

.filter-sidebar {
  display: none;
}

.card-header {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  margin-bottom: 0;
  color: var(--bs-card-cap-color);
  background-color: var(--bs-card-cap-bg);
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.px-25 {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}

.py-15 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.card-header {
  padding: 1.5rem;
  margin-bottom: 0;
  background-color: var(--white);
  border-bottom: 0.1rem dashed var(--gray-5);
}

.card-header:first-child {
  border-radius: var(--bs-card-inner-border-radius)
    var(--bs-card-inner-border-radius) 0 0;
}

.filter-list li {
  margin-bottom: 15px !important;
}

.d-flex {
  display: flex !important;
}
.flex-grow-1 {
  flex-grow: 1 !important;
}

.card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
  color: var(--bs-card-title-color);
}

.card-title {
  font-size: 1.8rem;
  color: var(--gray-1);
  margin-bottom: 0;
  font-weight: 700;
}

.border-bottom {
  border-bottom: var(--bs-border-width) var(--bs-border-style)
    var(--bs-border-color) !important;
}

.fw-semibold {
  font-weight: 600 !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.fs-13 {
  font-size: 13px !important;
}
.fw-semibold {
  font-weight: 600 !important;
}
.filter-by {
  color: var(--gray-1);
  font-family: var(--font-secondary);
  font-weight: 600;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.mt-3 {
  margin-top: 1rem !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.gap-4 {
  gap: 1.5rem !important;
}
.list-unstyled.filter-list {
  max-height: 350px;
  overflow-y: auto;
}
.position-relative {
  position: relative !important;
}
.align-items-center {
  align-items: center !important;
}
.cate-menu-active {
  color: var(--primary) !important;
}
.listname {
  color: var(--gray-2);
  font-size: 1.4rem;
  font-weight: 400;
  font-family: var(--font-pirmary) !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}
.ms-2 {
  margin-left: 0.5rem !important;
}
.text-muted {
  --bs-text-opacity: 1;
  color: var(--bs-secondary-color) !important;
}
.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
.fs-12 {
  font-size: 12px !important;
}
.badge {
  padding: 0.6rem 0.7rem;
  font-size: 1.1rem;
  font-weight: 400;
}

.product-filter-right {
  margin-bottom: 2rem;
  display: flex;
  align-items: end;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px 20px;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: 0;
  font-family: var(--font-primary);
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
  color: var(--bs-card-title-color);
}

.card-title {
  font-size: 1.8rem;
  color: var(--gray-1);
  margin-bottom: 0;
  font-weight: 700;
}

img,
svg {
  vertical-align: middle;
}

.flex-column {
  flex-direction: column !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.gap-3 {
  gap: 1rem !important;
}

.fs-14 {
  font-size: 14px !important;
}

.g-2,
.gx-2 {
  --bs-gutter-x: 1rem;
}

.g-2,
.gy-2 {
  --bs-gutter-y: 1rem;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.buy-now {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--font-secondary);
  white-space: nowrap;
  line-height: 1;
  border-radius: 5rem;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  color: var(--primary);
  overflow: hidden;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  transition: var(--transition-2);
  -webkit-transition: var(--transition-2);
  -moz-transition: var(--transition-2);
  -ms-transition: var(--transition-2);
  -o-transition: var(--transition-2);
  border: 1px solid var(--primary-light-border);
}

/* Responsive */

@media only screen and (min-width: 320px) {
  .Container {
    max-width: 100%;
  }
  .categories-container .sticky-side-div {
    position: unset;
  }
  .card-header {
    padding: 1.5rem;
  }
  .product-filter-right {
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
  }
  .filter-btn {
    width: 3rem;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: var(--primary-light);
    border: 0.1rem solid var(--primary-light-border);
    color: var(--gray-2);
    border-radius: var(--radius-4);
    transition: var(--transition-3);
  }
  .filter-btn svg {
    fill: var(--primary);
  }
}

@media only screen and (min-width: 425px) {
  .Container {
    max-width: 100%;
  }
  .buy-now {
    padding: 0.5rem 0.8rem;
  }
}

@media (min-width: 576px) {
  .g-4,
  .gx-4 {
    --bs-gutter-x: 2rem;
  }
  .g-2,
  .gx-2 {
    --bs-gutter-x: 1rem;
  }
  .g-2,
  .gy-2 {
    --bs-gutter-y: 1rem;
  }
  .flex-sm-row {
    flex-direction: row !important;
  }
}

@media only screen and (min-width: 600px) {
  .buy-now {
    padding: 0.6rem 1rem;
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 768px) {
  .g-md-4,
  .gy-md-4 {
    --bs-gutter-y: 2rem;
  }
  .pb-80 {
    padding-bottom: 80px;
  }
  .Container {
    max-width: 100%;
  }
  .sticky-side-div {
    position: -webkit-sticky;
    position: sticky;
    top: calc(1rem + 0.5rem);
  }
  .card-header {
    padding: 2rem 2.5rem;
  }
  .product-filter-right {
    padding: 12px 25px;
  }
  .product-filter-right {
    align-items: center;
    flex-direction: row;
  }
  .align-items-md-center {
    align-items: center !important;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .buy-now {
    font-size: 1.3rem;
  }
  .buy-now {
    padding: 0.9rem 1.4rem;
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 992px) {
  .Container {
    max-width: 98rem;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .d-lg-block {
    display: block !important;
  }
  .filter-sidebar {
    display: block;
  }
  .categories-container .sticky-side-div {
    position: -webkit-sticky;
    position: sticky;
    top: calc(14rem + 3rem) !important;
  }
  .product-filter-right {
    align-items: center;
    flex-direction: row;
  }
  .d-lg-none {
    display: none !important;
  }
  .gap-lg-5 {
    gap: 3rem !important;
  }
}

@media only screen and (min-width: 1200px) {
  .Container {
    max-width: 118rem;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .categories-container .sticky-side-div {
    top: calc(14rem + 2rem) !important;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
}

@media only screen and (min-width: 1400px) {
  .Container {
    max-width: 142rem;
  }
}

@media only screen and (min-width: 1600px) {
  .Container {
    max-width: 156rem;
  }
  .filter-btn {
    width: 3.5rem;
  }
}
