.card {
  border: 0.1rem solid var(--gray-6);
  border-radius: var(--radius-4);
  overflow: hidden;
}

.filter-sidebar {
  display: none;
}


.card-header {
  padding: 1.5rem;
  margin-bottom: 0;
  background-color: var(--white);
  border-bottom: 0.1rem dashed var(--gray-5);
}

.card-header:first-child {
  border-radius: var(--bs-card-inner-border-radius)
    var(--bs-card-inner-border-radius) 0 0;
}

.filter-list li {
  margin-bottom: 15px !important;
}

.d-flex {
  display: flex !important;
}
.flex-grow-1 {
  flex-grow: 1 !important;
}

.card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
  color: var(--bs-card-title-color);
}

.card-title {
  font-size: 1.8rem;
  color: var(--gray-1);
  margin-bottom: 0;
  font-weight: 700;
}

.border-bottom {
  border-bottom: var(--bs-border-width) var(--bs-border-style)
    var(--bs-border-color) !important;
}

.fw-semibold {
  font-weight: 600 !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.fs-13 {
  font-size: 13px !important;
}
.fw-semibold {
  font-weight: 600 !important;
}
.filter-by {
  color: var(--gray-1);
  font-family: var(--font-secondary);
  font-weight: 600;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-unstyled.filter-list {
  max-height: 350px;
  overflow-y: auto;
}
.position-relative {
  position: relative !important;
}
.align-items-center {
  align-items: center !important;
}
.cate-menu-active {
  color: var(--primary) !important;
}
.listname {
  color: var(--gray-2);
  font-size: 1.4rem;
  font-weight: 400;
  font-family: var(--font-pirmary) !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}
.listname:hover {
  color: var(--primary);
}
@media only screen and (min-width: 992px) {
  .filter-sidebar {
    display: block;
  }
}
